.clickable {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

.deleteButton {
  color: white;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}

.teste {
  color: blue;
}
